[Unit]
Description=Pythonadm

[Service]
User=pythonadm

WorkingDirectory=/home/pythonadm
ExecStart=/usr/bin/python3 app.py 

[Install]
WantedBy=multi-user.target
